{{ define "objects" }}
{{- range $o := $ }}
	{{ $o.Name }} = {{ $o.PackageAlias }}.{{ $o.Name }}
{{- end }}
{{- end }}

{{ define "constants" }}
const (
	{{- template "objects" . }}
)
{{- end }}

{{ define "variables" }}
var (
	{{- template "objects" . }}
)
{{- end }}

{{ define "functions" }}
// Functions
var (
	{{- template "objects" . }}
)
{{- end }}

{{ define "types" }}
type (
	{{- template "objects" . }}
)
{{- end }}
