{{ define "simple_objects" }}
{{- range $o := $ }}
	{{ $o.Name }} = {{ $o.PackageAlias }}.{{ $o.Name }}
{{- end }}
{{- end }}

{{ define "constants" }}
const (
	{{- template "simple_objects" $.Constants }}
)
{{- end }}

{{ define "variables" }}
var (
	{{- template "simple_objects" $.Variables }}
)
{{- end }}

{{ define "functions" }}
{{ if $.WrapFunctions }}
{{ range $o := $.Functions }}
func {{ $o.Name }} {{ $o.Signature }} {
	{{ if $o.Returns }} return {{ end }}{{ $o.PackageAlias }}.{{ $o.Name }}({{ $o.CallArgs }})
}
{{ end }}
{{ else }}
// Functions
var (
	{{- template "simple_objects" $.Functions }}
)
{{- end }}
{{- end }}

{{ define "types" }}
type (
	{{- template "simple_objects" $.Types }}
)
{{- end }}
